@model IEnumerable<SalesWebMvc.Models.FormaPagamento>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GeraFinanceiro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BaixaLancamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CartaoCredito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CartaoCreditoVencimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CartaoCreditoMelhorDia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCadastro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UltimaAtualizacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deletado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeletadoData)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GeraFinanceiro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BaixaLancamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CartaoCredito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CartaoCreditoVencimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CartaoCreditoMelhorDia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empresa.Uf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCadastro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UltimaAtualizacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deletado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeletadoData)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
